body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;

}

#warning {
    font-size: 10vw;
}

.header_text {
    font-size: 3em;
    color: #f77878;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
